<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico">

    <title>Water Supply 24*7 Project</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <link href="/css/carousel.css" rel="stylesheet">
    <script type="text/javascript">
    function confirmEmail() {
        var email = document.getElementById("InputEmailFirst").value
        var confemail = document.getElementById("InputEmailSecond").value
        if(email != confemail) {
            //alert("lcbsbb");
            $('#check').html('<p class="text-danger">Email-ids do not match.!!</p>');
            $('#InputEmailSecond').val(''); 

    }
}
</script>
  </head>
<!-- NAVBAR
================================================== -->
  <body style= "background-color: #BACDD6">
    

<div class="container">

<div class="page-header">
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Water 24*7</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navigator<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin">Administrator</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <!--<li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>-->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
</div>
<br>
<!-- Registration form - START -->
<div class="container">
    <div class="row">
        <form role="form" method="POST" action="/nextq">
            <div class="col-lg-6" style="padding-left:0px">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName" class="control-label">Enter Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Your Address</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputAddress" name="InputAddress" placeholder="Enter Address">
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Your Mobile Number</label>
                    <div class="input-group">
                        <input type="text" class="form-control" maxlength="10" pattern="\d{10}" title="Please enter 10 digits only" id="InputMno" name="InputMno" placeholder="Enter Mobile Number" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Your Age</label>
                    <div class="input-group">
                        <input type="text" class="form-control" min="18" max="100" id="InputAge" name="InputAge" placeholder="Enter Age" >
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Confirm Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmailSecond" name="InputEmail2" placeholder="Confirm Email" onblur="confirmEmail()" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        
                    </div>
                </div>
                <div id="check"></div>

                <div class="form-group">
                    <label for="InputEmail">Enter Your Designation/Job Description</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputJob" name="InputJob" placeholder="Enter Job" >
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success!</strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
                </div>
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span><a href="ret">If already registered Click Here!!</a></strong>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration form - END -->

</div>

<footer style = "padding:15px">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
