<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico">

    <title>Water Supply 24*7 Project</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>
    <link href="/css/carousel.css" rel="stylesheet">
    <style type="text/css">
    body {
  overflow-x: hidden;
}
.hidden-thing {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  opacity: 0;
}
    </style>
  </head>
<!-- NAVBAR
================================================== -->
  <body  style= "background-color: #BACDD6 ; margin: 0px; padding: 0px;  overflow-x: hidden;">
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Water 24*7</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="test">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin">Administrator</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <!--<li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>-->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/img/wsw.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>What we do ?</h1>
              <p>Provide efficient water supply infrastructure with minimum cost and adaptive to current secenario of your village or area</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/img/wsw1.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>What you have to do ?</h1>
              <p>Submit a request fro your village by entering a small online form and then just sit-back and relax , we'll send you the report to you via email.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/img/wsw2.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Customer support</h1>
              <p>We're always there for you.In case of any queries or complaints just contact us and we'll get to you as soon as possible.</p>
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/img/report.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Generate New Report</h2>
          <p>Click below to create Water Supply report for your village.</p>
          <p><a class="btn btn-lg btn-primary" href="new" role="button">Generate new report</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="" src="" alt="" width="" height="">
          <h2></h2>
          <p></p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/status.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Check Status</h2>
          <p>Click below to check the status of your previously submitted request for report.</p>
          <p><a class="btn btn-lg btn-primary" href="chck" role="button">Check the status</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" style = "padding-left : 40px">
          <h2 class="featurette-heading">Facing water supply problems<span class="text-muted"><p>Yes??</p></span></h2>
          <p class="lead">If your village or area is also suffering from lack of efficient resources of water or may they are too far from residential areas.Stay calm and come along.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/prob.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">We're here to help<span class="text-muted"><p>How??</p></span></h2>
          <p class="lead">Keeping you supplied with fresh water on 24/7 is our absolute priority, so we have an ongoing programme of water mains improvements and repairs to keep everything flowing smoothly.We can provide the solution for establishing efficient water supply infrastructure that too with minimum cost.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/img/help.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" style = "padding-left : 40px">
          <h2 class="featurette-heading">What else do we have in our magic box??<span class="text-muted"><p>You'll see!!</p></span></h2>
          <p class="lead">We provide all-around establishment of infrastructure suitable for the existing scenario of you area or village with cost including tarriff cost also.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/img/magic.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer style = "padding:15px">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 DIC,Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
